component-content{
    position: relative;
    display: inline-block;
}
component-content:hover {
    background: rgba(100, 100, 100, .1);
    cursor:cell;
}
component-content-edit-btn{
    position: absolute;
    right: 50px;
    top: 50px;
    display: none;
}
component-content:hover component-content-edit-btn{
    display: block;
}

component-content-edit-btn span{
    display: block;
    width: 25px  !important ;
    height: 25px  !important ;
    max-width: 25px  !important ;
    max-height: 25px  !important ;
    min-width: 25px  !important ;
    min-height: 25px  !important ;
    padding: 0px !important ;
    margin: 0px !important ;
    border: 1px solid #eee;
    border-radius: 3px;
    position: relative;
    /*top: -25px;*/
    background: none !important ;
    background: rgba(123, 123, 123, .7) !important ;
}
component-content-edit-btn span:before   {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    color: white;
    line-height: 0px;
    position: absolute;
    top: 15px;
    left: 5px;
    content: "\270E";
}

component-editor-container{
    position: fixed;
    top: 0px;
    width: 300px;
    display: none;
}
component-editor-container.left{
    left: 0px;
}
component-editor-container.right{
    right: 0px;
}
component-editor-container component-editor{
    background: #3c8dbc;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
}
component-editor-container component-editor form{
    margin-top: 30px;
}
component-editor-container component-editor .close{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}
#ContentForm input[type="submit"]{
    font-size: 18px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    float: right;
    margin-top: 10px;
}
#ContentForm input[type="submit"].disabled{
    opacity: .3;
}
#ContentForm input[type="submit"].success{

    border-color: greenyellow;
    color: greenyellow;
}
#ContentForm input[type="submit"]:hover{
    background: rgba(255, 255,255, .2);
}
